
body {
    background-color: rgb(228, 228, 228);
    position: relative;
    /* padding-bottom: 60px; */
    min-height: 100vh;
}

.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5rem 2rem;
    padding-top: 10rem;
}

.home__text {
    width: 50%;
    font-size: 1.1rem;
    margin: auto;
    line-height: 30px;
}

.home__text--realtor {
    color: red;
    text-decoration: none;
    font-weight: 400;
}

.home__text--poppin {
    color: blue;
    text-decoration: none;
    font-weight: 400;
}

.home__text--noms {
    color: green;
    text-decoration: none;
    font-weight: 400;
}

.home__text--datares {
    color: rgb(184, 184, 7);
    text-decoration: none;
    font-weight: 400;
}

.home__image {
    max-height: 35rem;
    margin: auto;
}